body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

h1 {
    font-size: 30px;
}

.video_title {
    position: relative;
    top: 50px;
    left: 75px;
}

.container-wrapper {
    display: flex;
    position: relative;
    top: 50px;
    left: 75px;
}

.video_container {
    width: 60%; /* adjust this value as needed */
    padding-bottom: 33.75%; /* 16:9 aspect ratio of 60% width */
    position: relative;
    overflow: hidden;
}

.video_container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.embed_container {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    width: 40%; /* adjust this value as needed */
}

.embed_container iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.button_container {
    position: relative;
    top: -10px;
    left: 75px;
    margin-top: 10px;
    width: calc(60% - 10px);
    text-align: right; /* Add this to align the button to the right */
}

button {
    /* background: linear-gradient(to right, #fb5283, #ff3527, #fb5283); */
    background-color:  #f04235;
    color: white;
    font-size: 14px; /* Reduced font size */
    font-weight: bold;
    padding: 8px 16px; /* Reduced padding */
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 4px;
    box-sizing: border-box;
    width: auto;
    max-width: 50%;
}

/* Small devices */
@media (max-width: 600px) {
    button {
        font-size: 12px;
        padding: 6px 12px;
    }
}

/* Medium devices */
@media (min-width: 601px) and (max-width: 1024px) {
    button {
        font-size: 16px;
        padding: 10px 20px;
    }
}

/* Large devices */
@media (min-width: 1025px) {
    button {
        font-size: 20px;
        padding: 10px 32px;;
    }
}


button:hover {
    /* background: linear-gradient(to right,  #ef4a78, #ee3c2f, #ef4a78); */
    background-color: #ef4a78;
}
